.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: 800;
}
.nav {
  display: flex;
  flex-direction: row;
  font-weight: 600;
}
.nav > li {
  padding: 25px 40px;
  transition: all 0.2s;
}
.nav > li:hover {
  color: white;
  background-color: black;
}
