.index__main {
  margin-top: 34px;
  width: 100%;
  height: 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section__main {
  width: 74%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(image/main__section.jpg) no-repeat center;
  background-size: 100%;
  border-radius: 5px;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: 40px;
  cursor: pointer;
  transition: background-size 0.3s ease;
}
.section__main:hover {
  background-size: 104%;
}

.section__main--title {
  font-size: 30px;
  font-weight: 600;
}
.writer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.writer__img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.section__ad {
  position: relative;
  width: 24%;
  height: 100%;
  background: url(image/main_section_ad.avif) no-repeat center;
  background-size: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-size 0.3s ease;
}
.section__ad:hover {
  background-size: 104%;
}
.section__ad:hover .ad__arrow {
  opacity: 1;
}
.ad__arrow {
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.2s;
}
.ad__arrow--left {
  position: absolute;
  top: 45%;
  left: -10%;
  padding: 15px 18px;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  cursor: pointer;
}
.ad__arrow--right {
  position: absolute;
  top: 45%;
  right: -10%;
  padding: 15px 18px;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  cursor: pointer;
}
.slide__num {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}
.slide__num > i {
  font-size: 12px;
  font-weight: 900;
  transform: translateY(1px);
}

/* ========== index category ========== */
.index__category {
  display: grid;
  margin: 20px 0px;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.index__category--grid {
  padding: 14px;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(41, 41, 41);
}
.index__category--grid > img {
  width: 100%;
  object-fit: cover;
}
.index__category--grid1 {
  grid-area: 1 / 1 / 2 / 2;
}
.index__category--grid2 {
  grid-area: 1 / 2 / 2 / 3;
}
.index__category--grid3 {
  grid-area: 1 / 3 / 2 / 4;
}
.index__category--grid4 {
  grid-area: 1 / 4 / 2 / 5;
}
.index__category--grid5 {
  grid-area: 1 / 5 / 2 / 6;
}
.index__category--grid6 {
  grid-area: 1 / 6 / 2 / 7;
}
.index__category--grid7 {
  grid-area: 1 / 7 / 2 / 8;
}
.index__category--grid8 {
  grid-area: 1 / 8 / 2 / 9;
}
.index__category--grid9 {
  grid-area: 1 / 9 / 2 / 10;
}
.index__category--grid10 {
  grid-area: 1 / 10 / 2 / 11;
}
/* .index__category {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.index__category--grid1 {
  grid-area: 1 / 1 / 2 / 2;
}
.index__category--grid2 {
  grid-area: 1 / 2 / 2 / 3;
}
.index__category--grid3 {
  grid-area: 1 / 3 / 2 / 4;
}
.index__category--grid4 {
  grid-area: 1 / 4 / 2 / 5;
}
.index__category--grid5 {
  grid-area: 1 / 5 / 2 / 6;
}
.index__category--grid6 {
  grid-area: 2 / 1 / 3 / 2;
}
.index__category--grid7 {
  grid-area: 2 / 2 / 3 / 3;
}
.index__category--grid8 {
  grid-area: 2 / 3 / 3 / 4;
}
.index__category--grid9 {
  grid-area: 2 / 4 / 3 / 5;
}
.index__category--grid10 {
  grid-area: 2 / 5 / 3 / 6;
} */
