footer {
  background-color: rgb(32, 31, 36);
}
.footer {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 40px 0 80px;
}
.footer__sns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: gray;
  padding-bottom: 20px;
}
.footer__sns > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 50%;
}
.footer__link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 20px;
}
.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: lightgray;
  line-height: 20px;
}
.info_right > a {
  text-decoration: underline;
  font-weight: 500;
}
